/* ResultsPage.css */

body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  background-color: #7CC1AC;  /* Set your desired background color */
  font-family: 'Karla', sans-serif;
}

.results-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 120px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.sorted-keys-container {
  margin-bottom: 60px;
  padding: 10px; /* Add padding for spacing */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); /* Add text shadow for drop shadow effect */
  text-align: center;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /*  /* Stack content vertically */
  flex-shrink: 1;
}

.sorted-keys {
  color: #FFFFFF;
  margin: 0 5px;
  padding: 5px 10px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.31);
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  margin-left: 10px;
  border-radius: 5px;
  width: 941px;
}

.arg1 {
  text-decoration: underline;
  text-decoration-color: #C38D9D;
}

.arg2 {
  text-decoration: underline;
  text-decoration-color: #C38D9D;
}

.images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.image {
  width: 150px;
  height: 150px; /* Set the image height */
  margin: 0 10px;
}

.prompt-container {
  /* display: inline-block; */
  margin-bottom: 50px;
  padding: 10px; /* Add padding for spacing */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); /* Add text shadow for drop shadow effect */
  text-align: center;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* flex-direction: column; /* Stack content vertically */
}

.prompt2 {
  margin-top: 20px;
  width: 1500px;
  color: #FFFFFF;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.31);
  font-family: 'Karla', sans-serif;
  font-size: 30px; /* Adjust font size */
  text-align: center;
  padding: 20px; /* Add padding for spacing */
  border-radius: 10px; /* Add border radius for rounded corners */
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for depth*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .random-string, */
.loading {
  font-size: 18px;
  color: #333;
}

.back-button {
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.back-arrow {
  color: #019D9F;
  font-weight: 500;
  font-size: 25px;
  margin-right: px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
}

.back-arrow:hover {
  color: #FFFFFF;
}

.material-symbols-outlined {
  font-size: 36px;
}
  
/* Use media queries to adjust styles for different screen sizes */
@media screen and (max-width: 768px) {
  .sorted-keys {
    font-size: 8vw;
  }

  .prompt2 {
    font-size: 5vw;
    padding: 3vw;
  }
}
